name: Test Golang Scripts

on:
  workflow_dispatch:

env:
  GET_THIS_VARIABLE: 'good job you got the value'
  SET_THIS_VARIABLE: 'if you see this, it is bad'

jobs:
  test-script:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      script-output: ${{ steps.get-env.outputs.test-output }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
       
      - name: Run golang script
        id: run-script
        run: |
          cd scripts/workflows 
          go mod init 
          go run hello.go

          cd testing-multiple-things/get-variables
          go mod init
          go run get-variables.go

          cd ../set-variables
          go mod init
          go run set-variables.go

      - name: grab env variable and set as output
        id: get-env
        shell: bash
        run: |
          echo "this is the variable: ${{ env.SET_THIS_VARIABLE }}"

          value="${{ env.SET_THIS_VARIABLE }}"
          echo $value
          echo "setting output variable"
          echo "test-output=$value" >> $GITHUB_OUTPUT

      - name: Get output variable
        shell: bash
        run: |
          echo "The output variable is: ${{ steps.get-env.outputs.test-output }}"

  new-job:
    needs: test-script
    runs-on: ubuntu-latest
    steps:
      - name: Use output from previous job
        shell: bash
        run: |
          echo "The output from the previous job is: ${{ needs.test-script.outputs.script-output }}"